<div class="table-header">
  <h1>Danh sách cửa hàng</h1>
  <button routerLink="/admin/stores/new" class="btn-add">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
    </svg>
    Thêm mới
  </button></div>

<table class="data-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Logo</th>
      <th>Tên Thương hiệu</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    @for (store of stores; track store.id) {
    <tr>
      <td>{{ store.id }}</td>
      <td><img [src]="'assets/img/'+store.imgStore " class="thumbnail"></td>
      <td>{{ store.name }}</td>

      <td>
        <a [routerLink]="['/admin/stores/edit/', store.id]" class="btn-edit">Sửa</a>
        <button (click)="deleteStore(store.id)" class="btn-delete">Xóa</button>
      </td>
    </tr>
    } @empty {
    <tr>
      <td colspan="5">Không có dữ liệu</td>
    </tr>
    }
  </tbody>
</table>

<div class="pagination-controls">
  <button (click)="loadStores(currentPage - 1)" [disabled]="currentPage === 1">Trước</button>
  <span>Trang {{ currentPage }} / {{ totalPages }}</span>
  <button (click)="loadStores(currentPage + 1)" [disabled]="currentPage === totalPages">Sau</button>
</div>