<h2>{{ pageTitle }}</h2>

<form [formGroup]="tableForm" (ngSubmit)="onSubmit()" class="data-form">
  <div class="form-group">
    <label for="storeId">Thuộc Thương hiệu</label>
    <select id="storeId" formControlName="storeId">
      <option [value]="null" disabled>-- Chọn thương hiệu --</option>
      @for(store of stores; track store.id) {
        <option [value]="store.id">{{ store.name }}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="branchId">Thuộc Chi nhánh</label>
    <select id="branchId" formControlName="branchId">
      <option [value]="null" disabled>-- Chọn chi nhánh --</option>
      @for(branch of branches; track branch.id) {
        <option [value]="branch.id">{{ branch.name }}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="name">Tên bàn</label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div class="form-actions">
    <button type="submit" [disabled]="tableForm.invalid" class="btn-add">Lưu</button>
    <button type="button" (click)="goBack()" class="btn-cancel">Hủy</button>
  </div>
</form>